body{ 
    background-color: #fafafa;
}
#area{
    background-color: #ffffff; 
                width: 250px; 
                height: 450px; 
                left: 50%; 
                margin: -130px 0 0 -210px; 
                padding: 30px;
                position: absolute; 
                top: 20%; 
    }
    #logo, p{
        text-align: center;
    }
    
    

