body{ 
    background-color: #fafafa;
}
#area{
    background-color: #ffffff; 
                width: 300px; 
                height: 570px; 
                left: 50%; 
                margin: -130px 0 0 -210px; 
                padding: 30px;
                position: absolute; 
                top: 20%; 
                border: 1px solid #dbdbdb;
    }
    #logo, p{
        text-align: center;
    }

    a:link {
            color: grey;
            background-color: transparent;
            text-decoration: none;
    }
.botaofacebook{
    background-color: #0095f6;
    color: #fafafa;
    padding: 10px 70px;
    border-radius: 5px;
    border: 1px;
    text-align: center;
    width: auto;
}
.center-form{
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
}